# Note: create your own application.yaml base on application_template.yaml

# Server config
server:
    port: 8080
    tomcat:
        threads:
            max: 200

# App config
app:
    cors:
        allowed-origins:
            - "http://localhost:5173"
            - "http://localhost:3000"
            - "http://localhost:3090"
            - "http://127.0.0.1:5500"
    jwt:
        access-token-expiration-ms: 3600000   # 1 hour
        refresh-token-expiration-ms: 604800000 # 7 days
    security:
        algo: HMAC

# Spring config
spring:
    application:
        name: template_app

    datasource:
        url: jdbc:postgresql://localhost:5432/template_app_db
        username: postgres
        password: 
        driver-class-name: org.postgresql.Driver
        type: com.zaxxer.hikari.HikariDataSource
        hikari:
            maximum-pool-size: 20
            minimum-idle: 5 
    
    flyway:
        enabled: false

    servlet:
        multipart:
            max-file-size: 500MB
            max-request-size: 500MB

    jackson:
        serialization:
            indent-output: true

    data:
        redis:
            host: 127.0.0.1
            port: 6379
            # password: ""
            lettuce:
                pool:
                    max-active: 8
                    max-idle: 8
                    min-idle: 0
                    max-wait: -1ms
            connect-timeout: 30000

    threads:
        virtual:
            enabled: true

    kafka:
        bootstrap-servers: localhost:9193
        consumer:
            group-id: sim-group
            auto-offset-reset: earliest
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        
            value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer 
        
            properties:
                "[spring.deserializer.value.delegate.class]": org.springframework.kafka.support.serializer.JsonDeserializer
                "[spring.json.trusted.packages]": "*"
                "[spring.json.ignore.type.headers]": true
                "[spring.json.fail-on-unknown-properties]": false
                "[spring.deserializer.value.function.class]": org.springframework.kafka.support.serializer.FailedDeserializationFunction

        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

# Swagger
springdoc:
    swagger-ui:
        path: /swagger-ui.html

# Mapper database
mybatis-plus:
    configuration:
        map-underscore-to-camel-case: true
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
        cache-enabled: true
    global-config:
        db-config:
            logic-delete-field: delFlag
            logic-not-delete-value: 0

# Logger
logging:
    level:
        "[com.template.app]": DEBUG 
        "[com.baomidou.mybatisplus]": DEBUG  
        "[org.apache.ibatis]": DEBUG 
        "[org.apache.ibatis.type]": DEBUG 
        "[org.springframework.jdbc.core]": DEBUG
        "[java.sql.Connection]": TRACE
        "[java.sql]": TRACE

# Rate limitter
resilience4j:
    circuitbreaker:
        instances:
            checkRandom:
                register-health-indicator: true
                sliding-window-size: 20
                permitted-number-of-calls-in-half-open-state: 5
                sliding-window-type: COUNT_BASED
                minimum-number-of-calls: 10
                wait-duration-in-open-state: 5s
                failure-rate-threshold: 50
                event-consumer-buffer-size: 10
                record-exceptions:
                    - org.springframework.web.client.HttpServerErrorException
                ignore-exceptions:
                    - com.template.app.core.exception.MyException
    ratelimiter:
        instances:
            default:
                limit-for-period: 6000
                limit-refresh-period: 1s
                timeout-duration: 0
                register-health-indicator: true
                event-consumer-buffer-size: 100
           
# Management
management:
    health:
        circuitbreakers:
            enabled: true
    endpoints:
        web:
            exposure:
                include:
                    - '*'
    endpoint:
        health:
            show-details: always
        prometheus:
            access: unrestricted
