<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.app.features.auth.repository.KeyStoreRepository">

    <insert id="upsert">
        INSERT INTO key_store (
            key_store_id, 
            user_id, 
            public_key, 
            private_key, 
            refresh_token, 
            created_at, 
            updated_at
        ) VALUES (
            COALESCE(#{keyStoreId}, gen_random_uuid()), 
            #{userId}, 
            #{publicKey}, 
            #{privateKey}, 
            #{refreshToken},
            CURRENT_TIMESTAMP, 
            CURRENT_TIMESTAMP
        )
        ON CONFLICT (user_id) 
        DO UPDATE SET
            public_key = EXCLUDED.public_key,
            private_key = EXCLUDED.private_key,
            refresh_token = EXCLUDED.refresh_token,
            updated_at = CURRENT_TIMESTAMP
    </insert>

</mapper>